<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{headerFragmentWithTitle :: headerFragmentWithTitle('Поиск треков')}" />

<body>

<div th:replace="~{mainMenu :: mainMenu(searchTrack)}" />
<div class="container-fluid">
    <h2 class="p-3" th:text="${results.getSearchTracks().getDescription()}"></h2>
    <div th:replace="~{searchTracksTableFragment :: searchTracksTableFragment}" />
</div>
<div th:replace="~{footerFragment :: footerFragment}" />

</body>
</html>